<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">x</div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li class="list-header">Bounty</li>
                    <li>About Us</li>
                    <li>Press</li>
                    <li>Policies</li>
                    <li>Help</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li class="list-header">Help & Information</li>
                    <li>About Us</li>
                    <li>Press</li>
                    <li>Policies</li>
                    <li>Help</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li class="list-header">Help & Information</li>
                    <li>About Us</li>
                    <li>Press</li>
                    <li>Policies</li>
                    <li>Help</li>
                </ul>
            </div>
        </div>
        <div id="footer-links">
            <div class="pull-left">&copy; 2018 <a href="http://liberation.online" target="_blank">Liberation Online</a></div>
            <div class="pull-right">Powered by <a href="http://thekiwi.online" target="_blank">KIWI</a></div>
        </div>
    </div>
</footer>
