<div id="top-announcement">
    <div class="container">
        <h4>Join our Discord for updates. <a href="https://discord.gg/8fm7Dyk" target="_blank">discord.gg/8fm7Dyk</a></h4>
    </div>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">BountyPlatform</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/projects">Discover</a></li>
                <li><a href="/how-it-works">How It Works</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <label class="sr-only" for="search">Search</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                        <input type="text" class="form-control" id="search">
                    </div>
                </div>
                <a href="/search" class="btn btn-primary">Search</a>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">KIWI<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">KIWI (KIWI)</a></li>
                        <li><a href="#">Ethereum (ETH)</a></li>
                        <li><a href="#">US Dollars ($)</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
